<div class="container">
<h1>Settings</h1>
<%= simple_form_for current_user, url: profile_path, method: :put do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
<%= link_to "Back", dashboard_index_path %>

