/* -------------------------------------
 * Fonts
 * ------------------------------------- */
$base-font: "Maven Pro", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #F96B53;
$brand-color-light: #FDA48B;

$red: #FC5252;
$red-light: #FE8989;

$blue: #74CEFF;
$blue-light: #ADE9FF;

$yellow: #F5A623;
$yellow-light: #FBD248;

$turquoise: #50E3C2;
$turquoise-light: #88F3E3;

$green: #ACED69;
$green-light: #D4F89E;

$gray: #F2F2F2;

$grayform: #F0F0F0;

$graytext: #7E7E7E;


/* -------------------------------------
 * Bootstrap sass variable
 * (see http://getbootstrap.com/customize/#less-variables)
 * ------------------------------------- */

// General style
$font-family-sans-serif:  $base-font;
$body-bg:                 $gray;
$font-size-base:          $base-size;
$line-height-base:        $base-height;
$headings-font-family:    $header-font;

// Semantic color scheme
// => http://getbootstrap.com/customize/#colors
$gray-base:       $gray;
$brand-primary:   $blue;
$brand-success:   $green;
$brand-info:      $yellow-light;
$brand-danger:    $red;
$brand-warning:   $yellow;

// Buttons / inputs radius
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

// Form
$input-border-focus: $brand-color;
$link-hover-color : inherit;
$link-hover-decoration : inherit;


// $alert-danger-bg : $brand-color;

