/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Maven Pro", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #F96B53;
$brand-color-light: #FDA48B;

$red: #FC5252;
$red-light: #FE8989;

$blue: #74CEFF;
$blue-light: #ADE9FF;

$yellow: #F5A623;
$yellow-light: #FBD248;

$turquoise: #50E3C2;
$turquoise-light: #88F3E3;

$green: #ACED69;
$green-light: #D4F89E;

$gray: #F2F2F2;

$grayform: #F0F0F0;


@mixin horizontal-gradient($light, $dark){
  background-image: linear-gradient(-140deg, $dark 0%, $light 100%);
}

@mixin vertical-gradient($light, $dark){
  background-image: linear-gradient(-135deg, $light 0%, $dark 87%);
}

