.form_css_complete {
  background: linear-gradient( 0deg, #FFA48D, #FF6A51);
}

.well {
  background-color: transparent;
  border: none;
  padding: none;
}

.form-control {
  background-color: RGBA(253, 162, 142, 1.00);
  width: 100%;
}

.form-content-white {
  color: white;
}

.form-control, select, optional {
  width: 70%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: $graytext;
  background-color: white;
  border: 0px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.06);
}

/////////////// IS THIS A CORRECT THING ? ///////////////
.form-positon {
  margin-top: 100px;
}

.align-center {
  margin-left: 10vh;
  margin-right: 10vh;
}

.flexbox {
  display: flex;
}

.flex-item {
  flex: 0 0 70%;
}
