body {
  margin-top: 0px;
}

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  position: 19px;
}

.pull-right {
  float: right !important;
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}

.message {
  padding-right: 50px;
}

.alert-white .icon-validate {
  text-align: center;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 40px;
  padding-top: 15px;

}


.alert-white .icon-validate2 {
  text-align: center;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 10px;
  // border: 1px solid #bdbdbd;
  padding-top: 15px;

}


.alert-white .icon:after {
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
/*============ colors ========*/
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #60c060;
}
.boom {
  color: #F96B53;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #98cce6;
  color: #3a87ad;
}

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}


.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #d68000;
  background: #fc9700;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #f1daab;
  color: #c09853;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #e0b1b8;
  color: #F96B53;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #F96B53;
}


////////////// Background CSS //////////////
.sam-shadow {
  position: absolute;
  margin: auto;
  padding-top: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.7s;
}

.arrow {
  display: block;
  padding-top: 590px;
  margin-left: auto;
  margin-right: auto;
}

.boom2 {
  padding-top: 220px;
}

.bounce {
  animation: bounce 0.9s ease 6;
}


////////////// FLEX DISPLAY //////////////

.flexbox {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  vertical-align: middle;
}

.flex-item {
  flex: 0 0 40%;
  height: 40px;
}

////////////// SCREENS //////////////

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#screen-1 {
  width: 100%;
  height: 667px;
  background: linear-gradient( 0deg, #FF6A51, #C33920);
}

#screen-2 {
  width: 100%;
  height: 667px;
  margin-top: -2px;
  background: linear-gradient( 0deg, #FFA48D, #FF6A51);
}

#screen-3 {
  width: 100%;
  height: 669px;
  margin-top: -2px;
  background: linear-gradient( 0deg, #F8B7A8, #FFA48D);
}

.fullscroll {
  height: 120vh;
}
















