.page-task {
  font-family: 'Maven-pro', sans-serif;
}
.submit-task {
  margin-top: 50px;
  margin-bottom: 100px
}

.title-radio {
  padding-left: 10px;
  margin-bottom: 20px;
}

.task-title {
  margin-top: 25px;
  font-size: 22px;
}
