.show-background {
  background: linear-gradient( 0deg, #FFA48D, #FF6A51);
  width: 100%;
  height: 667px;
  text-font: Maven-pro;
}

.h6 {
  color: white;
}

.test {
  width: 100%;
  background-color: red;
}

.catbox {
  width: 100%;
  height: 90px;
  color: white;
  background-color: blue;
  padding: 0;
  margin: 0;
}
