.edit-task {


}

.show-task-button {
  margin-top:20px;
}

.show-background {
  background: linear-gradient( 0deg, #FFA48D, #FF6A51);

  width: 100%;
  height: 667px;

}

.btn, btn-default {
  width: 240px;
}

.p {
  font-size: 13px;
}
