<%if user_signed_in? %>
<% else %>
  <%= image_tag("sam-1-1.png") %>
  <div class="signin btn">
    <div class="btn-sign">
      <%= link_to "Let\s Sign in!", new_user_session_path %>
    </div>
  </div>
<% end %>

    unless current_user
      redirect_to dashboard_index_path
    end
