
<div class="alert alert-danger alert-white rounded pull-right">
        <!-- <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
 -->        <div class="icon">
            <i class="glyphicon glyphicon-hand-right"></i>
        </div>
        <div class="message">
        <strong>Hey you !</strong>
       Build an habit now</div>

        <div class="icon-validate">
            <!-- <a href="facebook.com"><i class="glyphicon glyphicon-ok"></i> -->
            <%= link_to "", notif_done_path, :class=>"glyphicon glyphicon-ok" %>
        </div>
        <div class="icon-validate2">
           <!--  <a href="facebook.com"><i class="glyphicon glyphicon-repeat"></i> -->
            <%= link_to "", notif_cancell_path, :class=>"glyphicon glyphicon-repeat" %>
        </div>
    </div>
