<div class="container text-center">
  <h1>Your habits so far</h1>
  <p> Click on the task to edit it! </p>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.name, task %></li>
    <% end %>
  </ul>
</div>
