 <div class="hero-banner">
   <h1><%= greet %> <%= current_user.user_name %>!</h1>
 </div>

 <div class="form_css_complete">
   <div class="container text-center">
     <div class="row">
      <div class="col-md-10">
       <h3 class="task-title">Define your new task:</h3>
       <%= render "form" %>
     </div>
   </div>
 </div>
</div>



