<% counter = 0 %>
<% @categories.each do |category| %>
  <div class="category-task task-<%= category.name %>">
    <%= link_to new_task_path(@task, category_id: category), class: "" do %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">ICONNNNNN</div>
          <div class="col-xs-8">
            <h2> <%= category.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% counter += 1 %>
<% end %>
