<div class="navbar">
  <div class="navbar-item">
    <%= link_to dashboard_index_path(@user) do %>
      <i class='fa fa-home  fa-2x'></i>
    <% end %>
  </div>
  <div class="navbar-item">
    <%= link_to new_task_path(@user) do %>
      <i class='fa fa-plus-circle  fa-2x'></i>
    <% end %>
  </div>
  <div class="navbar-item">
    <%= link_to profile_path(@user) do %>
      <i class='fa fa-bell  fa-2x'></i>
    <% end %>
  </div>
</div>




















