

<div class="navbar navbar-fixed-bottom flexbox">
<form method="get">
  <button class="item flex-item" action="/tasks">
    <i class='fa fa-home  fa-2x'></i>
  </button>
  <button class="item flex-item" action="/tasks">
    <i class='fa fa-line-chart  fa-2x'></i>
  </button>
  <button class="item flex-item" action="/tasks">
    <i class='fa fa-bell  fa-2x'></i>
  </button>
  <button class="item flex-item" action="/tasks">
    <i class='fa fa-user  fa-2x'></i>
  </button>
</div>





















