.navbar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: $brand-color;
  margin: 0;
  padding: 0;
}

.navbar-item {
  flex: 0 0 33%;
  text-align: center;

  a {
    padding: 20px;
    color: white;
    display: block;
    transition: transform 100ms ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.5);
    }
  }
}

.nav-buttons {
  flex: 0 0 auto;
}
