.navbar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: #FF654A;
  //background: linear-gradient(150deg, #ED3A19, #FF654A);
}

.navbar-item {
  flex: 0 0 33%;
  cursor: pointer;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.nav-buttons {
  flex: 0 0 auto;

}


