.alert {
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
  opacity: 0.8;
}

.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
