.sign {
  height: 40px;
  width: 140px;
  margin: auto;
  display: block;
  border-radius: 20px;
  color: #999999;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(254, 129, 108, 0.45);
}

.log {
  display: absolute;
  margin-top: 500px;
}

.connect {
  padding-top: 293px;
}

.button {
  padding-top: 20px;
}
