.donutchart {
  background-color: #ffffff;
  width: 100%;
  height: 200px;
}

.progress-bar-container {
  // width: 30px;
  // min-height: 200px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;

}

.progress-bar {
  min-width: 2em;
  width: 100%;
  height: 10em;
  transition: height 0.6s ease;
  &.success {
    background-color: $turquoise-light;
  }
  &.warning {
    background-color: $yellow-light;
  }
  &.danger {
    background-color: $brand-color-light;
  }
}
