.form {
  width: 70%;
  height: 50px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
}

.radio-btn-line {
  display: inline;
}

.title-input {
  margin-top: 20px;
  margin-left: 56px;
  margin-bottom: 10px;
}

.tips {
  color: $graytext;
  margin-top: -10px;
  font-size: 12px;
}

.text-form {
  margin-left: 56px;
}

.box-input {
  margin-bottom: 40px;
}

.radio-size {
  width: 30%;
  margin-left: 140px;
}


.end-box {
  margin-bottom: 100px;
}

.quote {
  color: $graytext;
  font-size: 18px;
  font-style: italic;
}

.beacon-range {
  padding-right: 20%;
  padding-left: 20%;
}
