.hero-banner {
  background-color: $brand-color-light;
  text-align: center;
  color: white;
  h1 {
    color: white;
    font-size: 20px;
  }
  //@include horizontal-gradient($brand-color-light, $brand-color);
  padding: 10px 0;
}
