.reminder-list {
  background-color: #F2F2F2;
  margin: 15px -15px;
  padding: 15px;
}

.list-task {
  height: 50px;
  list-style-type: none;
  font-size: 20px;
  padding-top: 10px;
  width: 100%;
  font-weight: 300;
  background-color: white;
  margin: 5px 0;
  text-align: center;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.03);
}

.tasks {
  margin: 35px 0;
}

.categories {
  padding-bottom: 5px;
}

ul, menu, dir {
    -webkit-padding-start: 0px !important;
}

.border-task {
  &.border-Home {
    border-left: 6px solid $red;
  }

  &.border-Health {
    border-left: 6px solid $turquoise;
  }

  &.border-Self-improvement {
  border-left: 6px solid $blue;
  }

  &.border-Productivity {
  border-left: 6px solid $yellow;
  }

  &.border-Other {
  border-left: 6px solid $green;
  }
}















