.reminder-list {
  background-color: #F2F2F2;
  margin: 15px -15px;
  padding: 15px;
}

.list-task {
  height: 50px;
  list-style-type: none;
  font-size: 20px;
  padding-top: 10px;
  width: 100%;
  font-weight: 300;
  background-color: white;
  margin: 5px 0;
  text-align: center;
  border-left: 3px solid $brand-color;
}

.tasks {
  margin: 35px 0;
}

.categories {
  padding-bottom: 5px;
}

ul, menu, dir {
    -webkit-padding-start: 0px !important;
}
