
.reminder-list {
  background-color: #F2F2F2;
  margin: 15px -15px;
  padding: 15px;
}



.list-task {
  list-style-type: none;
  font-size: 12px;
  font-weight: 300;
  background-color: #ffffff;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  border-left: 3px solid $brand-color;
}
