h1, h1, h2, h3, h4, h5, p {
  font-family: $base-font;
  color: #1A1A1A;
  margin: 0;
}

.icon-white {
  color: white;
}

a {
  text-decoration: none;
  color: #1A1A1A;
}

a .link:active
{
     text-decoration:none;
     cursor:pointer;
}

a .link:visited
{
     text-decoration:none;
     cursor:pointer;
}

.link:focus {
    color: #1A1A1A;
    text-decoration: none;
    &:hover{
      color: #1A1A1A;
      text-decoration: none;
    }
}

p {
  font-size: 16px;
  font-family: $base-font;
  color: #1A1A1A;
  margin: 0;
}


.greeting {
  font-size: 22px;
  color: #1A1A1A;
}

p.remind {
  position: relative;
  color: #1A1A1A;
  z-index: 1000;
}

.goodbye {
  font-size: 20px;
  color: $graytext;
}

.sam-desc {
  color: white;
}

.signature {
  font-size: 22px;
  color: $graytext;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 120px;
}

.quote-string {
  padding-top: 20px;
  color: $graytext;
}

.quote-signature {
  color: $graytext;
}

.text-recap {
  margin-left: 80px;
}


.word-task {
  color: $brand-color;
  font-weight: bold;
}

.motivation-sentence {
  margin-bottom: 35px;
  color: $graytext;
  font-style: italic;
}






















